
@import "tailwindcss";

.addBg {
    border: 3px solid #5e4911;
}
.addBg1 {
    background-color: rgb(118 177 190 / 81%);
    border: 2px solid rgb(95 194 205 / 80%);

    transition: all 0.1s ease-in-out;
}

  