
@import "tailwindcss";

.addBg {
    border: 3px solid #5e4911;
}
.addBg1 {
    background-color: rgba(201, 130, 36, 0.81);
    border: 2px solid rgb(95 194 205 / 80%);

    transition: all 0.2s ease-in-out;
}

  